
        .syl{
            width: 100px;display:inline-block;
        }
        .bg{
            background: aqua;margin-bottom: 10px; width: 150px;padding-top: 2px;padding-bottom: 2px;

        }
        